<div class="issue-cls">

  <div class="issue-toolbar">
      <div class="back col-md-4">
      </div>

      <div class="col-md-4">
        Customer: {{customer.name}}
      </div>

      <div class="col-md-4">
      </div>

  </div>

  <div class="dashboard-cont">
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-body">
          <div class="col-md-1"></div>
          <div class="col-md-8">
            <p>
              dashboard for issue view.
            </p>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>

    </div>
    <div class="col-md-3 issue-detail">
        <div class="header"> Issue Details
        </div>

        <!-- issue details item -->
        <div>
          <div class="pull-left">Ticket Owner</div>
          <div class="pull-right">owner Name</div>
        </div>

        <div>
          <div class="pull-left">Ticket Owner</div>
          <div class="pull-right">owner Name</div>
        </div>
        <!-- eof details item-->

    </div>


  </div>

</div>
