<!-- Template for side navigation -->

<div class="" ng-controller="sideNavController">
    <ul class="nav-list">
        <li class="main-label">
          <span >Galaxy</span>
        </li>
        <li class="list-item">
          <span class="list-item">Overview Dashboard</span>
        </li>
        <li class="list-item">
          <span class="list-item">Issue List</span>
        </li>
        <li class="list-item">
          <span class="list-item">Analytics and Reports</span>
        </li>
        <li class="list-item">
          <span class="list-item">Escalations Views</span>
        </li>
        <li class="list-item">
          <span class="list-item">Configuration Manager</span>
        </li>
    </ul>

</div>

<!-- Eof template -->
